* {
    padding: 0%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.empty {
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
}

.nav-4items {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 3px;

}

#nav-but {
    color: white;
    background-color: #01bd9d;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    border: unset;
}

.header {
    background-image: linear-gradient(134deg, #0c0091 0%, #00a87e 100%);
    height: 90%;
}

.header2 {
    display: grid;
    grid-template-columns: 60% auto;
}

.header-text {
    margin: 5% 8%;

}

.header-text>h1 {
    font-size: 60px;
    color: #00ffd4;
}

.header-text>p {
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 30px;
}

.header-text>button {
    height: 50px;
    width: 250px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.661);
    color: rgba(255, 255, 255, 0.66);
}

.header-img>img {
    margin: 10% auto;
}

.sec2 {
    background-color: #f4f4f4;

    height: 30vh;
}

.clients-title {
    text-align: center;
    padding-top: 8vh;
    margin-bottom: 5vh;
    text-decoration: underline rgba(128, 128, 128, 0.378);
    color: rgba(180, 180, 180, 0.533);
    font-size: 20px;

}

.clients {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.sec3 {
    text-align: center;
    height: 50%;

}

#we-do {
    text-decoration: underline rgba(128, 128, 128, 0.378);
    color: rgba(128, 128, 128, 0.301);
    font-size: 20px;
    margin: 8vh;
    /* border: 2px solid; */

}

.div31 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.div311>img {
    width: 50px;
}

.div311>a,
.div511>h3>a {
    color: #0c0091;
}

.sec4 {
    height: 120%;
    background-color: #0c0091;
    text-align: center;
}

.light-blue {
    color: #00ffd4;
}

.sec4>h1 {
    color: white;
    font-size: 50px;
}

.div41 {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    width: 92%;

}

.div411>img {
    width: 50px;
}

.div411 {
    background-color: white;
    height: 100%;
    margin-top: 5vh;

    /* color: #0c0091; */
}

.pricing {
    padding: 22px;
}

.font20 {
    font-weight: bolder;
    font-size: 40px;
}

.div411>button {
    margin-top: 4vh;
    padding: 15px 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.949);
    border: unset;
}

.div411>button:hover {
    background-color: #4b3bfb;
}

.bold {
    font-weight: bold;
}

.rate {
    padding-top: 2vh;

}

.sec5 {
    height: 70%;
    background-color: #f4f4f4;
}

.sec6 {
    height: 70%;
    text-align: center;
}

.sec6>h1 {
    font-size: 65px;
}

.sec6>button {
    margin-top: 4vh;
    padding: 20px 50px;
    background-color: transparent;
    border: 1px solid rgba(182, 182, 182, 0.755);
}

footer {
    background-color: #0c0091;
    color: #ffffffa4;
    padding-top: 8vh;
    padding-bottom: 10vh;

}

footer>section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16vw;
    /* border: 2px solid; */

    width: fit-content;
    margin: auto;
}

footer>section>div>h3 {
    color: #fff;
    margin-bottom: 2vh;
}

/* Blessing Offa's css codes/ */



/* Other collaborators */